
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.child{
	width:100px;
	height:100px;
	background-color:green;
	margin: 3px;
}
.c1{
	background-color:rgb(255,0,0);
}
.c2{
	background-color:blue;
}
